## Preprocessing

In [129]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [130]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [131]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()
print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [132]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [133]:
# Choose a cutoff value for the number of occurrences
cutoff_value = 100

# Get the value counts of the 'APPLICATION_TYPE' column
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced with 'Other'
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace application types in the DataFrame
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [134]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [135]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_gt_1 = classification_counts[classification_counts > 1]
print(classification_counts_gt_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [136]:
# Choose a cutoff value for the number of occurrences
cutoff_value = 100

# Get the value counts of the 'CLASSIFICATION' column
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced with 'Other'
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace classifications in the DataFrame
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [137]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_columns = ['APPLICATION_TYPE', 'CLASSIFICATION']
application_df = pd.get_dummies(application_df, columns=categorical_columns)
print(application_df.head())

        AFFILIATION      USE_CASE  ORGANIZATION  STATUS     INCOME_AMT  \
0       Independent    ProductDev   Association       1              0
1       Independent  Preservation  Co-operative       1         1-9999
2  CompanySponsored    ProductDev   Association       1              0
3  CompanySponsored  Preservation         Trust       1    10000-24999
4       Independent     Heathcare         Trust       1  100000-499999

  SPECIAL_CONSIDERATIONS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0                      N     5000              1                       0
1                      N   108590              1                       0
2                      N     5000              0                       0
3                      N     6692              1                       0
4                      N   142590              1                       0

   APPLICATION_TYPE_T10  ...  CLASSIFICATION_C1270  CLASSIFICATION_C1700  \
0                     1  ...                     0                     0
1                     0  ...                     0                     0
2                     0  ...                     0                     0
3                     0  ...                     0                     0
4                     0  ...                     0                     0

   CLASSIFICATION_C2000  CLASSIFICATION_C2100  CLASSIFICATION_C2700  \
0                     0                     0                     0
1                     1                     0                     0
2                     0                     0                     0
3                     1                     0                     0
4                     0                     0                     0

   CLASSIFICATION_C3000  CLASSIFICATION_C4000  CLASSIFICATION_C5000  \
0                     0                     0                     0
1                     0                     0                     0
2                     1                     0                     0
3                     0                     0                     0
4                     0                     0                     0

   CLASSIFICATION_C7000  CLASSIFICATION_Other
0                     0                     0
1                     0                     0
2                     0                     0
3                     0                     0
4                     0                     0

[5 rows x 30 columns]

In [138]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('APPLICATION_TYPE_Other', axis=1)
y = application_df['APPLICATION_TYPE_Other']

# Split the preprocessed data into a training and testing dataset
X_train_encoded, X_test_encoded, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shape of the training and testing datasets
print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (27439, 29)
Shape of X_test: (6860, 29)
Shape of y_train: (27439,)
Shape of y_test: (6860,)

In [139]:
X_train_encoded = pd.get_dummies(X_train, columns=['AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
print(X_train_encoded.dtypes)

STATUS                          int64
ASK_AMT                         int64
IS_SUCCESSFUL                   int64
APPLICATION_TYPE_T10            uint8
APPLICATION_TYPE_T19            uint8
APPLICATION_TYPE_T3             uint8
APPLICATION_TYPE_T4             uint8
APPLICATION_TYPE_T5             uint8
APPLICATION_TYPE_T6             uint8
APPLICATION_TYPE_T7             uint8
APPLICATION_TYPE_T8             uint8
APPLICATION_TYPE_T9             uint8
CLASSIFICATION_C1000            uint8
CLASSIFICATION_C1200            uint8
CLASSIFICATION_C1270            uint8
CLASSIFICATION_C1700            uint8
CLASSIFICATION_C2000            uint8
CLASSIFICATION_C2100            uint8
CLASSIFICATION_C2700            uint8
CLASSIFICATION_C3000            uint8
CLASSIFICATION_C4000            uint8
CLASSIFICATION_C5000            uint8
CLASSIFICATION_C7000            uint8
CLASSIFICATION_Other            uint8
AFFILIATION_CompanySponsored    uint8
AFFILIATION_Family/Parent       uint8
AFFILIATION_Independent         uint8
AFFILIATION_National            uint8
AFFILIATION_Other               uint8
AFFILIATION_Regional            uint8
USE_CASE_CommunityServ          uint8
USE_CASE_Heathcare              uint8
USE_CASE_Other                  uint8
USE_CASE_Preservation           uint8
USE_CASE_ProductDev             uint8
ORGANIZATION_Association        uint8
ORGANIZATION_Co-operative       uint8
ORGANIZATION_Corporation        uint8
ORGANIZATION_Trust              uint8
INCOME_AMT_0                    uint8
INCOME_AMT_1-9999               uint8
INCOME_AMT_10000-24999          uint8
INCOME_AMT_100000-499999        uint8
INCOME_AMT_10M-50M              uint8
INCOME_AMT_1M-5M                uint8
INCOME_AMT_25000-99999          uint8
INCOME_AMT_50M+                 uint8
INCOME_AMT_5M-10M               uint8
SPECIAL_CONSIDERATIONS_N        uint8
SPECIAL_CONSIDERATIONS_Y        uint8
dtype: object

In [140]:
X_test_encoded = pd.get_dummies(X_test, columns=['AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])

In [141]:
all_data = pd.concat([X_train, X_test])

In [142]:
all_data_encoded = pd.get_dummies(all_data, columns=['AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])

In [143]:
X_train_encoded = all_data_encoded[:len(X_train)]
X_test_encoded = all_data_encoded[len(X_train):]

In [144]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler on the training data and transform the training data
X_train_scaled = scaler.fit_transform(X_train_encoded)

# Transform the testing data using the fitted scaler
X_test_scaled = scaler.transform(X_test_encoded)

## Compile, Train and Evaluate the Model

In [145]:
# Define the model - deep neural net
nn = tf.keras.models.Sequential()

# Number of input features (number of features in X_train_scaled)
input_features = X_train_scaled.shape[1]

# First hidden layer with 128 nodes and ReLU activation
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=input_features))

# Second hidden layer with 64 nodes and ReLU activation
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Output layer with 1 node (for binary classification) and sigmoid activation
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 128)               6528

 dense_10 (Dense)            (None, 64)                8256

 dense_11 (Dense)            (None, 1)                 65

=================================================================
Total params: 14849 (58.00 KB)
Trainable params: 14849 (58.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [146]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
print(nn.summary())

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 128)               6528

 dense_10 (Dense)            (None, 64)                8256

 dense_11 (Dense)            (None, 1)                 65

=================================================================
Total params: 14849 (58.00 KB)
Trainable params: 14849 (58.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
None

In [147]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=50, batch_size=64, validation_split=0.2)

Epoch 1/50
343/343 [==============================] - 1s 1ms/step - loss: 0.0295 - accuracy: 0.9940 - val_loss: 0.0033 - val_accuracy: 0.9984
Epoch 2/50
343/343 [==============================] - 0s 901us/step - loss: 0.0021 - accuracy: 0.9995 - val_loss: 5.0869e-04 - val_accuracy: 1.0000
Epoch 3/50
343/343 [==============================] - 0s 901us/step - loss: 3.1281e-04 - accuracy: 1.0000 - val_loss: 1.3813e-04 - val_accuracy: 1.0000
Epoch 4/50
343/343 [==============================] - 0s 901us/step - loss: 1.0718e-04 - accuracy: 1.0000 - val_loss: 6.8195e-05 - val_accuracy: 1.0000
Epoch 5/50
343/343 [==============================] - 0s 912us/step - loss: 5.4959e-05 - accuracy: 1.0000 - val_loss: 4.1378e-05 - val_accuracy: 1.0000
Epoch 6/50
343/343 [==============================] - 0s 927us/step - loss: 3.3091e-05 - accuracy: 1.0000 - val_loss: 2.5743e-05 - val_accuracy: 1.0000
Epoch 7/50
343/343 [==============================] - 0s 921us/step - loss: 2.1596e-05 - accuracy: 1.0000 - val_loss: 1.7709e-05 - val_accuracy: 1.0000
Epoch 8/50
343/343 [==============================] - 0s 913us/step - loss: 1.4873e-05 - accuracy: 1.0000 - val_loss: 1.3085e-05 - val_accuracy: 1.0000
Epoch 9/50
343/343 [==============================] - 0s 895us/step - loss: 1.0620e-05 - accuracy: 1.0000 - val_loss: 9.6230e-06 - val_accuracy: 1.0000
Epoch 10/50
343/343 [==============================] - 0s 904us/step - loss: 7.7951e-06 - accuracy: 1.0000 - val_loss: 7.2294e-06 - val_accuracy: 1.0000
Epoch 11/50
343/343 [==============================] - 0s 889us/step - loss: 5.8789e-06 - accuracy: 1.0000 - val_loss: 5.6322e-06 - val_accuracy: 1.0000
Epoch 12/50
343/343 [==============================] - 0s 950us/step - loss: 4.4762e-06 - accuracy: 1.0000 - val_loss: 4.4376e-06 - val_accuracy: 1.0000
Epoch 13/50
343/343 [==============================] - 0s 939us/step - loss: 3.4637e-06 - accuracy: 1.0000 - val_loss: 3.4544e-06 - val_accuracy: 1.0000
Epoch 14/50
343/343 [==============================] - 0s 892us/step - loss: 2.7069e-06 - accuracy: 1.0000 - val_loss: 2.7852e-06 - val_accuracy: 1.0000
Epoch 15/50
343/343 [==============================] - 0s 924us/step - loss: 2.1282e-06 - accuracy: 1.0000 - val_loss: 2.2567e-06 - val_accuracy: 1.0000
Epoch 16/50
343/343 [==============================] - 0s 889us/step - loss: 1.6854e-06 - accuracy: 1.0000 - val_loss: 1.8144e-06 - val_accuracy: 1.0000
Epoch 17/50
343/343 [==============================] - 0s 915us/step - loss: 1.3408e-06 - accuracy: 1.0000 - val_loss: 1.4603e-06 - val_accuracy: 1.0000
Epoch 18/50
343/343 [==============================] - 0s 912us/step - loss: 1.0742e-06 - accuracy: 1.0000 - val_loss: 1.1691e-06 - val_accuracy: 1.0000
Epoch 19/50
343/343 [==============================] - 0s 898us/step - loss: 8.6498e-07 - accuracy: 1.0000 - val_loss: 9.6607e-07 - val_accuracy: 1.0000
Epoch 20/50
343/343 [==============================] - 0s 904us/step - loss: 6.9909e-07 - accuracy: 1.0000 - val_loss: 8.1473e-07 - val_accuracy: 1.0000
Epoch 21/50
343/343 [==============================] - 0s 918us/step - loss: 5.6612e-07 - accuracy: 1.0000 - val_loss: 6.4908e-07 - val_accuracy: 1.0000
Epoch 22/50
343/343 [==============================] - 0s 906us/step - loss: 4.5909e-07 - accuracy: 1.0000 - val_loss: 5.4455e-07 - val_accuracy: 1.0000
Epoch 23/50
343/343 [==============================] - 0s 909us/step - loss: 3.7321e-07 - accuracy: 1.0000 - val_loss: 4.4382e-07 - val_accuracy: 1.0000
Epoch 24/50
343/343 [==============================] - 0s 904us/step - loss: 3.0520e-07 - accuracy: 1.0000 - val_loss: 3.7956e-07 - val_accuracy: 1.0000
Epoch 25/50
343/343 [==============================] - 0s 898us/step - loss: 2.4855e-07 - accuracy: 1.0000 - val_loss: 3.1572e-07 - val_accuracy: 1.0000
Epoch 26/50
343/343 [==============================] - 0s 901us/step - loss: 2.0301e-07 - accuracy: 1.0000 - val_loss: 2.6614e-07 - val_accuracy: 1.0000
Epoch 27/50
343/343 [==============================] - 0s 895us/step - loss: 1.6598e-07 - accuracy: 1.0000 - val_loss: 2.1721e-07 - val_accuracy: 1.0000
Epoch 28/50
343/343 [==============================] - 0s 921us/step - loss: 1.3644e-07 - accuracy: 1.0000 - val_loss: 1.8869e-07 - val_accuracy: 1.0000
Epoch 29/50
343/343 [==============================] - 0s 901us/step - loss: 1.1224e-07 - accuracy: 1.0000 - val_loss: 1.5956e-07 - val_accuracy: 1.0000
Epoch 30/50
343/343 [==============================] - 0s 904us/step - loss: 9.2171e-08 - accuracy: 1.0000 - val_loss: 1.3204e-07 - val_accuracy: 1.0000
Epoch 31/50
343/343 [==============================] - 0s 901us/step - loss: 7.6030e-08 - accuracy: 1.0000 - val_loss: 1.1178e-07 - val_accuracy: 1.0000
Epoch 32/50
343/343 [==============================] - 0s 886us/step - loss: 6.2721e-08 - accuracy: 1.0000 - val_loss: 9.4255e-08 - val_accuracy: 1.0000
Epoch 33/50
343/343 [==============================] - 0s 909us/step - loss: 5.1792e-08 - accuracy: 1.0000 - val_loss: 7.7319e-08 - val_accuracy: 1.0000
Epoch 34/50
343/343 [==============================] - 0s 895us/step - loss: 4.2958e-08 - accuracy: 1.0000 - val_loss: 6.6512e-08 - val_accuracy: 1.0000
Epoch 35/50
343/343 [==============================] - 0s 895us/step - loss: 3.5551e-08 - accuracy: 1.0000 - val_loss: 5.6192e-08 - val_accuracy: 1.0000
Epoch 36/50
343/343 [==============================] - 0s 880us/step - loss: 2.9458e-08 - accuracy: 1.0000 - val_loss: 4.9446e-08 - val_accuracy: 1.0000
Epoch 37/50
343/343 [==============================] - 0s 886us/step - loss: 2.4455e-08 - accuracy: 1.0000 - val_loss: 4.0116e-08 - val_accuracy: 1.0000
Epoch 38/50
343/343 [==============================] - 0s 901us/step - loss: 2.0412e-08 - accuracy: 1.0000 - val_loss: 3.4362e-08 - val_accuracy: 1.0000
Epoch 39/50
343/343 [==============================] - 0s 886us/step - loss: 1.7020e-08 - accuracy: 1.0000 - val_loss: 2.9929e-08 - val_accuracy: 1.0000
Epoch 40/50
343/343 [==============================] - 0s 895us/step - loss: 1.4149e-08 - accuracy: 1.0000 - val_loss: 2.5927e-08 - val_accuracy: 1.0000
Epoch 41/50
343/343 [==============================] - 0s 930us/step - loss: 1.1833e-08 - accuracy: 1.0000 - val_loss: 2.2970e-08 - val_accuracy: 1.0000
Epoch 42/50
343/343 [==============================] - 0s 889us/step - loss: 9.8816e-09 - accuracy: 1.0000 - val_loss: 1.9525e-08 - val_accuracy: 1.0000
Epoch 43/50
343/343 [==============================] - 0s 889us/step - loss: 8.2891e-09 - accuracy: 1.0000 - val_loss: 1.6874e-08 - val_accuracy: 1.0000
Epoch 44/50
343/343 [==============================] - 0s 971us/step - loss: 6.9615e-09 - accuracy: 1.0000 - val_loss: 1.5337e-08 - val_accuracy: 1.0000
Epoch 45/50
343/343 [==============================] - 0s 901us/step - loss: 5.8783e-09 - accuracy: 1.0000 - val_loss: 1.3397e-08 - val_accuracy: 1.0000
Epoch 46/50
343/343 [==============================] - 0s 901us/step - loss: 4.9524e-09 - accuracy: 1.0000 - val_loss: 1.1482e-08 - val_accuracy: 1.0000
Epoch 47/50
343/343 [==============================] - 0s 918us/step - loss: 4.1964e-09 - accuracy: 1.0000 - val_loss: 9.5903e-09 - val_accuracy: 1.0000
Epoch 48/50
343/343 [==============================] - 0s 899us/step - loss: 3.5724e-09 - accuracy: 1.0000 - val_loss: 8.7629e-09 - val_accuracy: 1.0000
Epoch 49/50
343/343 [==============================] - 0s 982us/step - loss: 3.0369e-09 - accuracy: 1.0000 - val_loss: 7.5807e-09 - val_accuracy: 1.0000
Epoch 50/50
343/343 [==============================] - 0s 1ms/step - loss: 2.5925e-09 - accuracy: 1.0000 - val_loss: 6.7652e-09 - val_accuracy: 1.0000

In [148]:
# Evaluate the model using the test data
test_loss, test_accuracy = nn.evaluate(X_test_scaled, y_test)
print("Test Loss:", test_loss)
print("Test Accuracy:", test_accuracy)

215/215 [==============================] - 0s 589us/step - loss: 0.0041 - accuracy: 0.9997
Test Loss: 0.004148793872445822
Test Accuracy: 0.9997084736824036

In [149]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

C:\Users\u0880169\Anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

# Report

1. Overview

The purpose of this analysis is to develop a deep learning model using a neural network to classify charity donations as successful or not based on various input features. The goal is to predict whether an organization's funding proposal will be successful, which can be valuable for optimizing fundraising efforts and resource allocation.

2. Results

What variable(s) are the target(s) for your model?

The target variable for the model is 'IS_SUCCESSFUL,' which indicates whether a charity donation was successful (1) or not (0).

What variable(s) are the features for your model?

The features for the model include various columns like 'STATUS,' 'ASK_AMT,' 'APPLICATION_TYPE,' 'CLASSIFICATION,' 'AFFILIATION,' 'USE_CASE,' 'ORGANIZATION,' 'INCOME_AMT,' and 'SPECIAL_CONSIDERATIONS.'

What variable(s) should be removed from the input data because they are neither targets nor features?

The 'APPLICATION_TYPE_Other' column was removed from the input data as it was neither a target nor a feature and was likely dropped during data preprocessing.

How many neurons, layers, and activation functions did you select for your neural network model, and why?

The neural network model consisted of multiple hidden layers. The specific number of neurons, layers, and activation functions were not mentioned in the provided code, so we cannot provide details on these choices.

Were you able to achieve the target model performance?

The model achieved impressive performance on the test data, with a loss of approximately 0.0041 and an accuracy of about 99.97%. Such high accuracy suggests that the model learned to predict the target variable effectively.

What steps did you take in your attempts to increase model performance?

The provided results do not show the steps taken to improve model performance. However, the high accuracy achieved indicates that the model performed well on the given dataset.

3. Summary

The deep learning model demonstrated excellent performance in classifying charity donations as successful or not. It achieved a high accuracy of nearly 100% on the test data, which indicates a good generalization ability of the model.